.roman{
    list-style-type: upper-roman;
}
  
  li.comp { 
    background-color: pink;
  }
  li.mid {
    background-color: rgb(251, 158, 174);
  }
  li.sports {
    background-color: rgb(251, 119, 141);
  }
